@import './font.scss';

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Pretendard';
  font-weight: 400;
  font-style: normal;
}

@mixin flex($justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}
