@import './font.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
}

@mixin mixin-flex($justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}
